// Mixin para centrar elementos
@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-nav {
  position: fixed;
  background: linear-gradient(to right, #F5E8DC, #E3CBB8);
  height: 100px;
  padding: 10px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;

  .container {
    @include center();
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-width: 1600px;
    margin: 0 auto;

    .logo {
      max-width: 70%;
      max-height: 100%;
      transition: transform 0.3s ease-in-out; // Agrega una transición suave a la propiedad 'transform'
      
      &:hover {
        transform: scale(1.1); 
      }
    }

    .list-indice {
      display: flex;
      list-style: none;
      margin: 0;
      width: 100%;
      margin-right: 20px;

      li {
        margin-right: 30px;
        font-size: 1rem;

        a {
          text-decoration: none;
          color: rgb(31, 14, 14);

          &:hover {
            text-decoration: underline;
            color: sienna;
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    .container {
      @include center();
      flex-direction: column;
      text-align: center;

      .logo {
        max-height: 70%;
      }

      .list-indice {
        align-items: center;

        li {
          margin-bottom: 10px;
          font-size: 0.6rem;
          margin: 8px;
        }
      }
    }
  }
}
